*{
  box-sizing: border-box;
}
p, h1 {
  font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
  color: grey;
  font-weight: lighter;
}

canvas{
    width: 100% !important;
    height: auto !important;
}
.icon{
  margin: 10px;
  width:40px;
  height:55px;
}
a:hover {
  border-bottom-width: medium;
  border-bottom-style: solid;
  border-bottom-color:#3CB371;
}
.member {
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
nav{
  grid-area: nav;
  background-color: #515593;
}
.grid-container {
display: grid;
grid-template-columns: 100%;
grid-template-rows: auto;
grid-template-areas:
"header"
"navigation"
"main";
}
#notifications{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header {
grid-area: header;
background-color: #8b8ebf;
color: white;
grid-area: header;
display: flex;
flex-direction: row;
justify-content: space-between;
}
header>h1{
  color:white;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #515593;
}
.main-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-header-search{

}
.alert{
  background-color: #8b8ebf;
  color: white;
  width:95%;
  height: 25px;
  margin:auto;
  margin-top: 10px;
  border-radius: 5px;
}

.social-image{
  background-color: #8b8ebf;
  border-radius: 50px;
  padding: 15px;
  width:55px;
  height:55px;
}
.main {grid-area: main;}

@media (min-width: 768px) {
.grid-container {
  background-color: red;
grid-template-columns: 55px 1fr;
grid-template-areas:
"header header"
"navigation main";
}
}
.main {display: grid;}
@media (min-width: 768px) {
  .main {
  grid-template-columns: 50% ;
}
}
@media (min-width: 768px) {
.traffic, .social {
grid-column: 1 / span 2;
}
}
@media (min-width: 768px) {
.daily, .members, .message {
grid-column: 1 / span 1;
}
}
@media (min-width: 768px) {
.mobile, .activity, .settings {
grid-column: 2 / span 1;
}
}
.widget-container-full, .widget-container-half {
width: 95vw;
}
@media (min-width: 768px) {
.widget-container-full {
width: 90vw;
}
.widget-container-half {
  width: 45vw;
  }
  }
